#principal{
	margin-top: 5%;
}

#headingOne,#headingTwo,#headingThree {
    background-color: #c55e5e;
}

#fechaReservada{
	margin-bottom: 2%;
	margin-left: 1.5%;
}

.container{
	margin-bottom: 2%;
}

#consulta{
	margin-top: 10%;
}

#dias{
	float: left;
	width: 20%;
}

#verFecha{
	width: 100px;
	margin-right: 7px;
    margin-bottom: 10px;
}
#reservado{
	background-color: #258e23;
}

#sinReserva{
	
}

.cartel{
	display: none;
}

#mostrar{
	display: inherit;
	margin-top: 4%;
}

#nomostrar{
	display: none;
}

#sinReserva{
	background-color: #000000;
	color: white;
}

#conReserva{
	background-color: #ffffff;
}

#Reservado{

	background-color: #bf0000;
}

.huge{
	font-size: 90%;
}

#diaAtrasado{
	margin-top: 2%;
}

#lafecha{
	padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 5px;
}

#date{
	font-size: 14px;
}

#texto{
	padding-left: 10px;
    padding-right: 10px;
}

.panel-footer{
	background-color: #1a181d;
}

#mainCtrl{
	margin-top: 4%;
}

.fechasIng{
	margin-top: 3%;
}

.squad-fechas{
    width: 100%;
    height: 27px;
    padding-top: 8px;
    border: thin;
    border-left-color: #666;
    border-left-style: thin solid;
    border-right-color: #666;
    border-right-style: thin solid;
    font-size: 9px;
    text-align: center;
    float: left;
    background-color:#E4E4E4;
    cursor:pointer;
}

.squad-fechas-active{
    width: 100%;
    height: 27px;
    padding-top: 8px;
    border: thin;
    border-left-color: #666;
    border-left-style: thin solid;
    border-right-color: #666;
    border-right-style: thin solid;
    font-size: 9px;
    text-align: center;
    float: left;
    background-color:#096;
    color:#FFF;
    cursor:pointer;
}

.squad-fechas-disable{
    width: 100%;
    height: 27px;
    padding-top: 8px;
    border: thin;
    border-left-color: #666;
    border-left-style: thin solid;
    border-right-color: #666;
    border-right-style: thin solid;
    font-size: 9px;
    text-align: center;
    float: left;
    background-color:#CCC;
    color:#999;
    cursor:pointer;
    }

#alertasFechas{
	margin-top: 2%;
}

#preciosPax{
	margin-top: 0px;
	margin-bottom: 0px;
}

#cartelAlerta{
	margin-top: 1%;
}

#verdad{
	background-color: aquamarine;
}






