#principal{
	margin-top: 5%;
}

#headingOne,#headingTwo,#headingThree {
    background-color: #c55e5e;
}

#fechaReservada{
	margin-bottom: 2%;
}

.container{
	margin-bottom: 2%;
}

#consulta{
	margin-top: 10%;
}

#dias{
	float: left;
	width: 20%;
}

#verFecha{
	width: 100px;
	margin-right: 7px;
    margin-bottom: 10px;
}
#reservado{
	background-color: #258e23;
}

#sinReserva{
	
}

.cartel{
	display: none;
}

#mostrar{
	display: inherit;
	margin-top: 4%;
}

#nomostrar{
	display: none;
}

#sinReserva{
	background-color: #1eb702;
}

#conReserva{
	background-color: #ea2814;
}

#Reservado{

	background-color: #bf0000;
}

.huge{
	font-size: 90%;
}

#diaAtrasado{
	margin-top: 2%;
}

#lafecha{
	padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 5px;
}

#date{
	font-size: 14px;
}

#texto{
	padding-left: 10px;
    padding-right: 10px;
}

.panel-footer{
	background-color: #1a181d;
}

#mainCtrl{
	margin-top: 4%;
}

.fechasIng{
	margin-top: 3%;
}