<!DOCTYPE html>
<html ng-app="Proyecto">
<head>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/sb-admin-2.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta charset="UTF-8">

	<title>Hola Cabanas</title>
</head>

<body>

    <div class="container">

    	<div class="row" id="mainCtrl" ng-controller="MainController">
    		
    		<div class="container form-group col-lg-3">
				  	<h4>Seleccione las fechas papa:</h4>

				  	<div class="col-lg-12 fechasIng">
				  	  <span class="input-group-addon">Entrada</span>
					  <input type="date" class="form-control" ng-model="fechaIni" placeholder="Fecha de Ingreso" min="{{fechaMin}}">
					</div>

					<div class="col-lg-12 fechasIng">
					  <span class="input-group-addon">Salida</span>
					  <input type="date" class="form-control" ng-model="fechaSal" placeholder="Fecha de Ingreso" min="{{fechaMinMax}}">
					</div>

					<div class="col-lg-12 fechasIng">
					  <span class="input-group-addon">Cantidad de Personas (Adultos)</span>
					  <input type="number" value="1" ng-change="changePerson(nroAdulto);resetAllElemet();calcularReservas(fechaIni,fechaSal,cabanas,desayuno,nroAdulto,nroMenor);" ng-model="nroAdulto" class="form-control" min="1" max="6" step="1">
					</div>

					<div class="col-lg-12 fechasIng">
					  <span class="input-group-addon">Cantidad de Personas (Menores)</span>
					  <input type="number" value="1" ng-change="changePerson(nroAdulto);resetAllElemet();calcularReservas(fechaIni,fechaSal,cabanas,desayuno,nroAdulto,nroMenor);" ng-model="nroMenor" class="form-control" min="0" max="4" step="1">
					</div>

					<div class="col-lg-12 desa">
					  <span>Incluir Desayuno</span>
					  <input type="checkbox" ng-model="desayuno" ng-click="resetAllElemet();calcularReservas(fechaIni,fechaSal,cabanas,desayuno,nroAdulto,nroMenor);">
					</div>

					<div ng-hide="myValue" id="diaAtrasado" class="alert alert-danger alert col-lg-12">
			            <span ng-bind="alertaUno"></span>
			        </div>

			        <div ng-hide="myValor" id="diaAtrasado" class="alert alert-danger alert col-lg-12">
			            <span ng-bind="alertaAdulto"></span>
			        </div>

					<div class="col-lg-6">
					  <button class="btn btn-primary" ng-click="calcularReservas(fechaIni,fechaSal,cabanas,desayuno,nroAdulto,nroMenor)" id="consulta">Consultar Reservas</button>
					</div>

					<div class="alert alert-success alert-dismissable col-lg-12" id="{{mostrar}}">
			            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			            Existen <a class="alert-link">{{cabanasDisponibles}}</a> Cabaña/s Disponibles..
			        </div>

			</div>

			<div class="col-lg-9">
	    		<div class="panel-group" id="accordion" role="tablist">

	    		<!-- primer cabaña -->
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="{{cabanas[0].cabanaConreserva}}" ng-click="resetAllElemet()">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{cabanas[0].casa}}" aria-expanded="true" id="{{cabanas[0].cabanaConreserva}}">
				          {{cabanas[0].nombre}} - {{cabanas[0].estado}}
				        </a>
				      </h4>
				    </div>
				    <div id="{{cabanas[0].casa}}" class="panel-collapse collapse {{cabanas[0].primero}}" style="width: 100%; padding-left: 3%; padding-right: 3%; margin-bottom: 1%;">
				      <div class="panel-body">
				      	
				      	<div class="col-lg-9">
				      		<h3>{{cabanas[0].nombre}}</h3>
				      		<h4>{{cabanas[0].descripcion}}</h4>
				      		<h4><strong ng-bind="cartelDesa"></strong></h4>
				      		<h4><strong ng-bind="cartelfechaEntrada"></strong></h4>
				      		<h4><strong ng-bind="cartelfechaSalida"></strong></h4>
				      	</div>

				      	<div class="col-lg-3">
		                    <div class="panel panel-yellow">
		                        <div class="panel-heading">
		                            <div class="row">

		                            	<div class="col-xs-12 text-center" ng-if="cabanas[0].cabanaConreserva == 'conReserva'"> 
	                                    	<h4>PRECIO NO DISPONIBLE</h4>
		                                </div>

		                                <div class="col-xs-12 text-center" ng-if="cabanas[0].cabanaConreserva == 'disponibles'"> 
	                                    	<h4>DESDE</h4>
	                                    	<div class="huge">${{cabanas[0].precio}}</div>
	                                    	<h4>P/Día</h4>
		                                </div>

		                            </div>
		                        </div>

		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <div ng-if="cabanas[0].cabanaConreserva == 'sinReserva'">
			                        <a href="" ng-click="sendPost(fechaIni, fechaSal, nroAdulto, nroMenor, cabanas[0].reservas,cabanas[0].temporada)">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                    <div ng-if="cabanas[0].cabanaConreserva == 'disponibles'">
			                        <a href="">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
		                        </div>
		                        <!--  -->
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <a href="#">
		                            <div class="panel-footer" id="btnConsultar">
		                                <span class="pull-left">CONSULTAR</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
		                        </a>
		                        <!--  -->

		                    </div>
		                </div>


				      	<button class="btn btn-primary"> Ver Cabana </button>
				      	<br>
				      	<br>
				      	<!--carousel
				      	<div class="col-lg-12">

			    			<div id="carousel-example-generic-{{cabanas[0].casa}}" class="carousel slide" data-ride="carousel">

								  <div class="carousel-inner" role="listbox"> 
								    
								    <div ng-class=" {{gale.active}} ? 'item active' : 'item'" ng-repeat="gale in cabanas[0].galeria">
								      <img src="{{gale.url}}" alt="...">
								    </div>

								  </div>

								  <a class="left carousel-control" href="#carousel-example-generic-{{cabanas[0].casa}}" role="button" data-slide="prev">
								    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								    <span class="sr-only">Previous</span>
								  </a>
								  <a class="right carousel-control" href="#carousel-example-generic-{{cabanas[0].casa}}" role="button" data-slide="next">
								    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								    <span class="sr-only">Next</span>
								  </a>
							</div>
			    		</div>
				      	fin carousel-->

				      </div>

					   <button class="btn btn-danger" id="fechaReservada" type="button" data-toggle="collapse" data-target="#{{cabanas[0].id+cabanas[0].precio}}" ng-click="getFechasReservadas(fechaIni, fechaSal, cabanas[0].reservas,cabanas[0].temporada)" aria-expanded="false" aria-controls="{{cabanas[0].id+cabanas[0].precio}}">
						  Ver fechas Reservadas
					  </button>

		              <div class="row">
		              	<div class="collapse col-lg-12" id="{{cabanas[0].id+cabanas[0].precio}}">

			              	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 background45lines" ng-repeat="fecha in fechas" id="lafecha">
				              	
			                    <div ng-if="fecha.condicion == 'Libre'">
			                    	<!-- Calcula el precio de las cantidad de personas -->
			                    	<a href="" ng-click="getPreciosPax(nroAdulto,nroMenor,fecha.preciosPax,fecha.mes,fecha.dia,desayuno, fecha.preciosDesa)">
				                    	<div class="squad-fechas-active" data-toggle="tooltip" data-placement="top" title="Precio: ${{fecha.precioTemporada}} - Temporada: {{fecha.tipoTemporada}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fecha.mes}} - {{fecha.dia}}
				                    	</div>
			                    	</a>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Reservado'">
			                    	<div class="squad-fechas-disable" data-toggle="tooltip" data-placement="top" title="Reservado">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Sin Lista'">
			                    	<div class="squad-fechas">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

	                        </div>

	                        
				        	<div class="alert alert-success col-lg-12" id="alertasFechas" role="alert">
			        			<div class="col-lg-4" id="cartelAlerta">
			        				<strong>{{cartelTarifas}}</strong>
			        				<strong>{{verTarifas}} {{tituloMes}} - {{tituloDia}}</strong>
			        				<strong>{{tituloPerMas}}</strong>
			        			</div>
			        			
			        			<div class="col-lg-8">
			        				<ul class="pagination" id="preciosPax" ng-repeat="pre in preciosP">
					        			
					        			<li>
					        				<a href="" id="{{pre.cantper}}">{{pre.nroPersonas}}Pax - ${{pre.fechasp}}</a>
					        			</li>
					        		</ul>
			        			</div>
				        	</div>

				        </div>

				        

			          </div>

		              </div>
				
				</div>
				<!-- primer cabaña -->

				<!-- segunda cabaña -->
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="{{cabanas[1].cabanaConreserva}}" ng-click="resetAllElemet()">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{cabanas[1].casa}}" aria-expanded="true" id="{{cabanas[1].cabanaConreserva}}">
				          {{cabanas[1].nombre}} - {{cabanas[1].estado}}
				        </a>
				      </h4>
				    </div>
				    <div id="{{cabanas[1].casa}}" class="panel-collapse collapse {{cabanas[1].primero}}" style="width: 100%; padding-left: 3%; padding-right: 3%; margin-bottom: 1%;">
				      <div class="panel-body">
				      	
				      	<div class="col-lg-9">
				      		<h3>{{cabanas[1].nombre}}</h3>
				      		<h4>{{cabanas[1].descripcion}}</h4>
				      		<h4><strong ng-bind="cartelDesa"></strong></h4>
				      	</div>

				      	<div class="col-lg-3">
		                    <div class="panel panel-yellow">
		                        <div class="panel-heading">
		                            <div class="row">

		                                <div class="col-xs-12 text-center" ng-if="cabanas[1].cabanaConreserva == 'conReserva'"> 
	                                    	<h4>PRECIO NO DISPONIBLE</h4>
		                                </div>

		                                <div class="col-xs-12 text-center" ng-if="cabanas[1].cabanaConreserva == 'disponibles'"> 
	                                    	<h4>DESDE</h4>
	                                    	<div class="huge">${{cabanas[1].precio}}</div>
	                                    	<h4>P/Día</h4>
		                                </div>

		                            </div>
		                        </div>

		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <div ng-if="cabanas[1].cabanaConreserva == 'sinReserva'">
			                        <a href="" ng-click="sendPost(fechaIni, fechaSal, nroAdulto, nroMenor, cabanas[1].reservas,cabanas[1].temporada)">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                    <div ng-if="cabanas[1].cabanaConreserva == 'disponibles'">
			                        <a href="">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
		                        </div>
		                        <!--  -->
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <a href="#">
		                            <div class="panel-footer" id="btnConsultar">
		                                <span class="pull-left">CONSULTAR</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
		                        </a>
		                        <!--  -->

		                    </div>
		                </div>

				      	<button class="btn btn-primary"> Ver Cabana </button>
						<br>
				      	<br>
				      	<!--carousel
				      	<div class="col-lg-12">
			    			<div id="carousel-example-generic-{{cabanas[1].casa}}" class="carousel slide" data-ride="carousel">

								  <div class="carousel-inner" role="listbox"> 
								    
								    <div ng-class=" {{gale.active}} ? 'item active' : 'item'" ng-repeat="gale in cabanas[1].galeria">
								      <img src="{{gale.url}}" alt="...">
								    </div>

								  </div>

								  <a class="left carousel-control" href="#carousel-example-generic-{{cabanas[1].casa}}" role="button" data-slide="prev">
								    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								    <span class="sr-only">Previous</span>
								  </a>
								  <a class="right carousel-control" href="#carousel-example-generic-{{cabanas[1].casa}}" role="button" data-slide="next">
								    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								    <span class="sr-only">Next</span>
								  </a>
							</div>
			    		</div>
				      	fin carousel-->

				      </div>

					   <button class="btn btn-danger" id="fechaReservada" type="button" data-toggle="collapse" data-target="#{{cabanas[1].id+cabanas[1].precio}}" ng-click="getFechasReservadas(fechaIni, fechaSal, cabanas[1].reservas,cabanas[1].temporada)" aria-expanded="false" aria-controls="{{cabanas[1].id+cabanas[1].precio}}">
						  Ver fechas Reservadas
					  </button>

		              <div class="row">
		              	<div class="collapse col-lg-12" id="{{cabanas[1].id+cabanas[1].precio}}">

			              	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 background45lines" ng-repeat="fecha in fechas" id="lafecha">
				              	
			                    <div ng-if="fecha.condicion == 'Libre'">
			                    	<!-- Calcula el precio de las cantidad de personas -->
			                    	<a href="" ng-click="getPreciosPax(nroAdulto,nroMenor,fecha.preciosPax,fecha.mes,fecha.dia,desayuno, fecha.preciosDesa)">
				                    	<div class="squad-fechas-active" data-toggle="tooltip" data-placement="top" title="Precio: ${{fecha.precioTemporada}} - Temporada: {{fecha.tipoTemporada}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fecha.mes}} - {{fecha.dia}}
				                    	</div>
			                    	</a>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Reservado'">
			                    	<div class="squad-fechas-disable" data-toggle="tooltip" data-placement="top" title="Reservado">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Sin Lista'">
			                    	<div class="squad-fechas">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

	                        </div>

	                        
				        	<div class="alert alert-success col-lg-12" id="alertasFechas" role="alert">
			        			<div class="col-lg-4" id="cartelAlerta">
			        				<strong>{{cartelTarifas}}</strong>
			        				<strong>{{verTarifas}} {{tituloMes}} - {{tituloDia}}</strong>
			        				<strong>{{tituloPerMas}}</strong>
			        			</div>
			        			
			        			<div class="col-lg-8">
			        				<ul class="pagination" id="preciosPax" ng-repeat="pre in preciosP">
					        			
					        			<li>
					        				<a href="" id="{{pre.cantper}}">{{pre.nroPersonas}}Pax - ${{pre.fechasp}}</a>
					        			</li>
					        		</ul>
			        			</div>
				        	</div>

				        </div>

				        

			          </div>

		              </div>
				
				</div>
				<!-- segunda cabaña -->


				<!-- tercer cabaña -->
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="{{cabanas[2].cabanaConreserva}}" ng-click="resetAllElemet()">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{cabanas[2].casa}}" aria-expanded="true" id="{{cabanas[2].cabanaConreserva}}">
				          {{cabanas[2].nombre}} - {{cabanas[2].estado}}
				        </a>
				      </h4>
				    </div>
				    <div id="{{cabanas[2].casa}}" class="panel-collapse collapse {{cabanas[2].primero}}" style="width: 100%; padding-left: 3%; padding-right: 3%; margin-bottom: 1%;">
				      <div class="panel-body">
				      	
				      	<div class="col-lg-9">
				      		<h3>{{cabanas[2].nombre}}</h3>
				      		<h4>{{cabanas[2].descripcion}}</h4>
				      		<h4><strong ng-bind="cartelDesa"></strong></h4>
				      	</div>

				      	<div class="col-lg-3">
		                    <div class="panel panel-yellow">
		                        <div class="panel-heading">
		                            <div class="row">
		                                <div class="col-xs-12 text-center" ng-if="cabanas[2].cabanaConreserva == 'conReserva'"> 
	                                    	<h4>PRECIO NO DISPONIBLE</h4>
		                                </div>

		                                <div class="col-xs-12 text-center" ng-if="cabanas[2].cabanaConreserva == 'disponibles'"> 
	                                    	<h4>DESDE</h4>
	                                    	<div class="huge">${{cabanas[2].precio}}</div>
	                                    	<h4>P/Día</h4>
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <div ng-if="cabanas[2].cabanaConreserva == 'sinReserva'">
			                        <a href="" ng-click="sendPost(fechaIni, fechaSal, nroAdulto, nroMenor, cabanas[0].reservas,cabanas[0].temporada)">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                    <div ng-if="cabanas[2].cabanaConreserva == 'disponibles'">
			                        <a href="">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
		                        </div>
		                        <!--  -->
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <a href="#">
		                            <div class="panel-footer" id="btnConsultar">
		                                <span class="pull-left">CONSULTAR</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
		                        </a>
		                        <!--  -->

		                    </div>
		                </div>

				      	<button class="btn btn-primary"> Ver Cabana </button>

				      </div>

					   <button class="btn btn-danger" id="fechaReservada" type="button" data-toggle="collapse" data-target="#{{cabanas[2].id+cabanas[2].precio}}" ng-click="getFechasReservadas(fechaIni, fechaSal, cabanas[2].reservas,cabanas[2].temporada)" aria-expanded="false" aria-controls="{{cabanas[2].id+cabanas[2].precio}}">
						  Ver fechas Reservadas
					  </button>

		              <div class="row">
		              	<div class="collapse col-lg-12" id="{{cabanas[2].id+cabanas[2].precio}}">

			              	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 background45lines" ng-repeat="fecha in fechas" id="lafecha">
				              	
			                    <div ng-if="fecha.condicion == 'Libre'">
			                    	<!-- Calcula el precio de las cantidad de personas -->
			                    	<a href="" ng-click="getPreciosPax(nroAdulto,nroMenor,fecha.preciosPax,fecha.mes,fecha.dia)">
				                    	<div class="squad-fechas-active" data-toggle="tooltip" data-placement="top" title="Precio: ${{fecha.precioTemporada}} - Temporada: {{fecha.tipoTemporada}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fecha.mes}} - {{fecha.dia}}
				                    	</div>
			                    	</a>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Reservado'">
			                    	<div class="squad-fechas-disable" data-toggle="tooltip" data-placement="top" title="Reservado">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Sin Lista'">
			                    	<div class="squad-fechas">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

	                        </div>


	                        <div class="alert alert-success col-lg-12" id="alertasFechas" role="alert">
			        			<div class="col-lg-4" id="cartelAlerta">
			        				<strong>{{cartelTarifas}}</strong>
			        				<strong>{{verTarifas}} {{tituloMes}} - {{tituloDia}}</strong>
			        				<strong>{{tituloPerMas}}</strong>
			        			</div>
			        			
			        			<div class="col-lg-8">
			        				<ul class="pagination" id="preciosPax" ng-repeat="pre in preciosP">
					        			
					        			<li>
					        				<a href="" id="{{pre.cantper}}">{{pre.nroPersonas}}Pax - ${{pre.fechasp}}</a>
					        			</li>
					        		</ul>
			        			</div>
				        	</div>

				        </div>
			          </div>

		              </div>
				
				</div>
				<!-- tercer cabaña -->

				<!-- cuarta cabaña -->
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="{{cabanas[3].cabanaConreserva}}" ng-click="resetAllElemet()">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{cabanas[3].casa}}" aria-expanded="true" id="{{cabanas[3].cabanaConreserva}}">
				          {{cabanas[3].nombre}} - {{cabanas[3].estado}}
				        </a>
				      </h4>
				    </div>
				    <div id="{{cabanas[3].casa}}" class="panel-collapse collapse {{cabanas[3].primero}}" style="width: 100%; padding-left: 3%; padding-right: 3%; margin-bottom: 1%;">
				      <div class="panel-body">
				      	
				      	<div class="col-lg-9">
				      		<h3>{{cabanas[3].nombre}}</h3>
				      		<h4>{{cabanas[3].descripcion}}</h4>
				      		<h4><strong ng-bind="cartelDesa"></strong></h4>
				      	</div>

				      	<div class="col-lg-3">
		                    <div class="panel panel-yellow">
		                        <div class="panel-heading">
		                            <div class="row">
		                                <div class="col-xs-12 text-center" ng-if="cabanas[3].cabanaConreserva == 'conReserva'"> 
	                                    	<h4>PRECIO NO DISPONIBLE</h4>
		                                </div>

		                                <div class="col-xs-12 text-center" ng-if="cabanas[3].cabanaConreserva == 'disponibles'"> 
	                                    	<h4>DESDE</h4>
	                                    	<div class="huge">${{cabanas[3].precio}}</div>
	                                    	<h4>P/Día</h4>
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <div ng-if="cabanas[3].cabanaConreserva == 'sinReserva'">
			                        <a href="" ng-click="sendPost(fechaIni, fechaSal, nroAdulto, nroMenor, cabanas[0].reservas,cabanas[0].temporada)">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                    <div ng-if="cabanas[3].cabanaConreserva == 'disponibles'">
			                        <a href="">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
		                        </div>
		                        <!--  -->
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <a href="#">
		                            <div class="panel-footer" id="btnConsultar">
		                                <span class="pull-left">CONSULTAR</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
		                        </a>
		                        <!--  -->

		                    </div>
		                </div>

				      	<button class="btn btn-primary"> Ver Cabana </button>

				      </div>

					   <button class="btn btn-danger" id="fechaReservada" type="button" data-toggle="collapse" data-target="#{{cabanas[3].id+cabanas[3].precio}}" ng-click="getFechasReservadas(fechaIni, fechaSal, cabanas[3].reservas,cabanas[3].temporada)" aria-expanded="false" aria-controls="{{cabanas[3].id+cabanas[3].precio}}">
						  Ver fechas Reservadas
					  </button>

		              <div class="row">
		              	<div class="collapse col-lg-12" id="{{cabanas[3].id+cabanas[3].precio}}">

			              	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 background45lines" ng-repeat="fecha in fechas" id="lafecha">
				              	
			                    <div ng-if="fecha.condicion == 'Libre'">
			                    	<!-- Calcula el precio de las cantidad de personas -->
			                    	<a href="" ng-click="getPreciosPax(nroAdulto,nroMenor,fecha.preciosPax,fecha.mes,fecha.dia)">
				                    	<div class="squad-fechas-active" data-toggle="tooltip" data-placement="top" title="Precio: ${{fecha.precioTemporada}} - Temporada: {{fecha.tipoTemporada}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fecha.mes}} - {{fecha.dia}}
				                    	</div>
			                    	</a>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Reservado'">
			                    	<div class="squad-fechas-disable" data-toggle="tooltip" data-placement="top" title="Reservado">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Sin Lista'">
			                    	<div class="squad-fechas">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

	                        </div>

	                        <div class="alert alert-success col-lg-12" id="alertasFechas" role="alert">
			        			<div class="col-lg-4" id="cartelAlerta">
			        				<strong>{{cartelTarifas}}</strong>
			        				<strong>{{verTarifas}} {{tituloMes}} - {{tituloDia}}</strong>
			        				<strong>{{tituloPerMas}}</strong>
			        			</div>
			        			
			        			<div class="col-lg-8">
			        				<ul class="pagination" id="preciosPax" ng-repeat="pre in preciosP">
					        			
					        			<li>
					        				<a href="" id="{{pre.cantper}}">{{pre.nroPersonas}}Pax - ${{pre.fechasp}}</a>
					        			</li>
					        		</ul>
			        			</div>
				        	</div>

				        </div>
			          </div>

		              </div>
				
				</div>

				<!-- quinta cabaña -->
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="{{cabanas[4].cabanaConreserva}}" ng-click="resetAllElemet()">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{cabanas[4].casa}}" aria-expanded="true" id="{{cabanas[4].cabanaConreserva}}">
				          {{cabanas[4].nombre}} - {{cabanas[4].estado}}
				        </a>
				      </h4>
				    </div>
				    <div id="{{cabanas[4].casa}}" class="panel-collapse collapse {{cabanas[4].primero}}" style="width: 100%; padding-left: 3%; padding-right: 3%; margin-bottom: 1%;">
				      <div class="panel-body">
				      	
				      	<div class="col-lg-9">
				      		<h3>{{cabanas[4].nombre}}</h3>
				      		<h4>{{cabanas[4].descripcion}}</h4>
				      		<h4><strong ng-bind="cartelDesa"></strong></h4>
				      	</div>

				      	<div class="col-lg-3">
		                    <div class="panel panel-yellow">
		                        <div class="panel-heading">
		                            <div class="row">
		                                <div class="col-xs-12 text-center" ng-if="cabanas[4].cabanaConreserva == 'conReserva'"> 
	                                    	<h4>PRECIO NO DISPONIBLE</h4>
		                                </div>

		                                <div class="col-xs-12 text-center" ng-if="cabanas[4].cabanaConreserva == 'disponibles'"> 
	                                    	<h4>DESDE</h4>
	                                    	<div class="huge">${{cabanas[4].precio}}</div>
	                                    	<h4>P/Día</h4>
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <div ng-if="cabanas[4].cabanaConreserva == 'sinReserva'">
			                        <a href="" ng-click="sendPost(fechaIni, fechaSal, nroAdulto, nroMenor, cabanas[0].reservas,cabanas[0].temporada)">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                    <div ng-if="cabanas[4].cabanaConreserva == 'disponibles'">
			                        <a href="">
			                            <div class="panel-footer reservar">
			                                <span class="pull-left">RESERVAR</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
		                        </div>
		                        <!--  -->
		                        <!--quiere decir que tiene todas fecha estan libres-->
		                        <a href="#">
		                            <div class="panel-footer" id="btnConsultar">
		                                <span class="pull-left">CONSULTAR</span>
		                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                                <div class="clearfix"></div>
		                            </div>
		                        </a>
		                        <!--  -->

		                    </div>
		                </div>

				      	<button class="btn btn-primary"> Ver Cabana </button>

				      </div>

					   <button class="btn btn-danger" id="fechaReservada" type="button" data-toggle="collapse" data-target="#{{cabanas[4].id+cabanas[4].precio}}" ng-click="getFechasReservadas(fechaIni, fechaSal, cabanas[4].reservas,cabanas[4].temporada)" aria-expanded="false" aria-controls="{{cabanas[4].id+cabanas[4].precio}}">
						  Ver fechas Reservadas
					  </button>

		              <div class="row">
		              	<div class="collapse col-lg-12" id="{{cabanas[4].id+cabanas[4].precio}}">

			              	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 background45lines" ng-repeat="fecha in fechas" id="lafecha">
				              	
			                    <div ng-if="fecha.condicion == 'Libre'">
			                    	<!-- Calcula el precio de las cantidad de personas -->
			                    	<a href="" ng-click="getPreciosPax(nroAdulto,nroMenor,fecha.preciosPax,fecha.mes,fecha.dia)">
				                    	<div class="squad-fechas-active" data-toggle="tooltip" data-placement="top" title="Precio: ${{fecha.precioTemporada}} - Temporada: {{fecha.tipoTemporada}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fecha.mes}} - {{fecha.dia}}
				                    	</div>
			                    	</a>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Reservado'">
			                    	<div class="squad-fechas-disable" data-toggle="tooltip" data-placement="top" title="Reservado">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

			                    <div ng-if="fecha.condicion == 'Sin Lista'">
			                    	<div class="squad-fechas">{{fecha.mes}} - {{fecha.dia}}
			                    	</div>
			                    </div>

	                        </div>

	                        <div class="alert alert-success col-lg-12" id="alertasFechas" role="alert">
			        			<div class="col-lg-4" id="cartelAlerta">
			        				<strong>{{cartelTarifas}}</strong>
			        				<strong>{{verTarifas}} {{tituloMes}} - {{tituloDia}}</strong>
			        				<strong>{{tituloPerMas}}</strong>
			        			</div>
			        			
			        			<div class="col-lg-8">
			        				<ul class="pagination" id="preciosPax" ng-repeat="pre in preciosP">
					        			
					        			<li>
					        				<a href="" id="{{pre.cantper}}">{{pre.nroPersonas}}Pax - ${{pre.fechasp}}</a>
					        			</li>
					        		</ul>
			        			</div>
				        	</div>

				        </div>
			          </div>

		              </div>
				
				</div>
				<!-- quinta cabaña -->


				</div>
			</div>   
			  
		</div>

    </div>

</body>

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/script.js"></script>
<script src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>

</html>